section {
    background-image: url('lighthouse.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
.h1CENTER {
    text-align: center;
    background-color: white;
    font-size: 10vh;
    padding: 10px;
    mix-blend-mode: screen;
    font-weight: bold;
}
.Chorus, .Bridge {
margin-top: 10px;
line-height: normal;
}
.Chorus {
    font-size: 8vh;
    }